<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="videoResourcesMapper">
    <select id="getList" resultType="java.lang.String">
        select url from video_resources
    </select>
    <select id="getMediaIds" resultType="String">
        select media_id from video_resources_bili
    </select>
    <insert id="insertBatch" parameterType="java.util.List">
        insert  into video_resources (url) values
        <foreach collection="list" separator="," item="item" index="index">
            (#{item})
        </foreach>
    </insert>
    <insert id="insertBatchMediaId" parameterType="java.util.List">
        insert  into video_resources_bili (media_id) values
        <foreach collection="list" separator="," item="item" index="index">
            (#{item})
        </foreach>
    </insert>
    <insert id="insert" parameterType="entity.Res">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into video_resources (url)values (#{url})
    </insert>
    <select id="select" resultType="java.lang.Object">
        select name from style
    </select>
    <insert id="insertBatchDetail" parameterType="java.util.List">
        insert  into bili_video(media_id,title,origin_name,alias,actors,cover,evaluate,publish_date,status,staff,type) values
        <foreach collection="list" separator="," item="item" index="index">
            (#{item.mediaId},#{item.title},#{item.originName},#{item.alias},#{item.actors},#{item.cover},#{item.evaluate},#{item.publishDate},#{item.status},#{item.staff},#{item.type})
        </foreach>
    </insert>

    <insert id="insertVideos" parameterType="java.util.List">
        insert into video(media_id,name,title,alias,actors,staff,cover,brief,publish_date,area_id,area_name,type_id,type_name,status)values
        <foreach collection="list" separator="," item="item" index="index">
            (#{item.mediaId},#{item.name},#{item.title},#{item.alias},#{item.actors},#{item.staff},#{item.cover},#{item.brief},#{item.publishDate},#{item.areaId},#{item.areaName},#{item.typeId},#{item.typeName},#{item.status})
        </foreach>
    </insert>

    <insert id="insertVideoStyle" parameterType="java.util.List">
        insert into video_style(video_id,style_id,style_name) values
        <foreach collection="list" separator="," item="item" index="index">
            (#{item.mediaId},#{item.styleId},#{item.styleName})
        </foreach>
    </insert>
</mapper>